---
//@ts-ignore
import Layout from '../layouts/Layout.astro';
//@ts-ignore
import Card from '../components/Card.astro';
//@ts-ignore
import SSAsset from '../components/SSAsset.astro'
import Message from '../components/Message.astro';
---

<Layout title="SillySmart">
	<main>
        <Message
        content="welcome to the secret page!"
        ></Message>
        <Message
        content="you're probably here by clicking a colon."
        ></Message>
        <Message
        content="well, what are you doing today?"
        ></Message>
        <Message
        content="you know what, nevermind."
        ></Message>
        <Message
        content="you deserve an award. so here!"
        ></Message>
        <a href="https://discord.gg/CcyxcP6Vmv"><button>SWEET!</button></a>
		<a href="/"><button>nah.</button></a>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		text-align: center;
	}
	a {
		color: rgb(var(--accent-light));
	}
	a:visited {
		color: rgb(var(--accent));
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
